
<div class="jumbotron login " align="center" style="height:1em;background-color: black;color:whitesmoke">
  <h3> POS Application</h3>
</div>

<div class="container jumbotron " align="center" style="background-color: rgb(209, 241, 231)" >
  <form invalidate [formGroup]="form" (ngSubmit)="loginEmployee(form)" class="form-horizontal" role="form">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <h4>Login Form</h4>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <label class="sr-only" for="username">Username</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-user"></i>
            </div>
            <input type="text" formControlName="username" class="form-control" placeholder="Username" required #username>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <div *ngIf="form.get('username').invalid && form.get('username').touched">
              <div *ngIf="form.get('username').hasError('required')">
                Username is required
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-key"></i>
            </div>
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" required>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <div *ngIf="form.get('password').invalid && form.get('password').touched">
              <div *ngIf="form.get('password').hasError('required')">
                Password is required
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <label class="sr-only" for="startingAmount">Starting Amount</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-briefcase"></i>
            </div>
            <input type="text" formControlName="startingAmount" class="form-control" placeholder="Starting Amount" required >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <div *ngIf="form.get('startingAmount').invalid && form.get('startingAmount').touched">
              <div *ngIf="form.get('startingAmount').hasError('required')">
               Starting Amount is required
              </div>
              <div *ngIf="form.get('startingAmount').hasError('pattern')">
               Please enter a number
               </div>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div style="color: red">
      {{invalidUserError}}
    </div>

    <div class="row" style="padding-top: 1rem;">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-success" [disabled]="form.invalid" >
          <i class="fa fa-sign-in"></i> Login</button>
        <a routerLink="register" >New Employee ? Register here</a>
      </div>
    </div>
  </form>
</div>
