<div>
  <div class="text-center" style="background-color: darkslateblue; color: white">
    <h4>Checkout and Payment Method</h4>
  </div>

  <div class="salesExecutive"> Sales Executive : {{activeEmployee.managerName}}</div>

  <div class="container">
  
    <div *ngFor="let choice of ModeOfPaymentValues">
        <label>
        <input type="radio" name="mop" [(ngModel)]="modeOfPayment" [value]="ModeOfPayment[choice]">
  {{choice}}
        </label>
    </div>
  </div>
  <div class="text-right">
    <button role="button" class="btn btn-primary" (click)="saveOrder()">Save Order</button>
    <button role="button" class="btn btn-success" (click)="placeOrder()">Place Order</button>
  </div>
</div>
